.container_home {
    display: grid;
    overflow: hidden;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_container{
    margin-left: 150px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.select_container select{
    cursor: pointer;
    margin-right: 100px;
    font-family: Cambria;
}