.allPage_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}

.allPage_container button {
    margin-right: 10px;
    margin-left: 10px;
    transition: transform 0.3s;
}

.allPage_container button:hover{
    scale: 1.1;
}

.allPage_container span{
    font-size: 20px;
}


.pageCurrent {
    background-color: #04aa6d;
}